<%- include('partials/header') %>
<div class="container-fluid hero" id="hero">
  <div class="row">
    <div class="col">
      <h1>ABOUT</h1>
      <p>
        You found the about page! If you are done and want to quickly go back to making gradients, <a class="hero-link" href="/">click here to head back.</a>
        </p>
      </div>
  </div>
</div>
<div class="container section-secondary" id="color-selection">
  <div class="row">
    <div class="col">
      <h3>Motivation</h3>
      <p>I wanted a quick way to find colors within a gradient as usually those colors work well together overall in a palette. With those colors I can create more art (which mainly currently consists of making <a href="https://giphy.com/channel/gyhwa" target="_blank">GIPHY gifs</a>)!</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Website</h3>
      <p>This website is built off of tinygradient to generate the gradients and uses color-convert to quickly get the HEX, CMYK, and HSV from the tineygradient.</p>
      <p>The website uses Node.js and EJS in combination with Bootstrap to make it run.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Future Steps</h3>
      <p>Other features I want to explore in the future is to make it so that you can easily get an .ase file of all the swatches. Another potential solution is to do something similar to <a href="https://coolors.co/" target="_blank">coolors</a> or <a href="https://colorhunt.co/" target="_blank">Color Hunt</a> where you can export an image.</p>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
